/** Reset CSS */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/** Container */
.container {
  position: relative;
  /* z-index: -99999; */
  background: green;
  height: 800px;
  width: 500px;
  border: 1px solid black;
  margin: 0;
  padding: 1em;

  /*? Elementi figli centrati */
  /* display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  gap: 1rem; */
}

/*$ Positioning */
/** relative  */

h2 {
  /* position: relative;
    left: 1rem;
    top: 2rem; */
  color: white;
  /* text-align: center; */
}
/* #div1 {
    background-color: darkblue;
    height: 50px;
    width: 150px;
    border: 1px solid black;
} */

/* .div {
  height: 50px;
  width: 50px;
  border: 2px solid black;
} */

/** absolute */
/* .red {
  background: red;
  opacity: 0.7;
  position: absolute;
  top: 2em;
  left: 10px;
}
.yellow {
  background: yellow;
  position: absolute;
  left: 70px;
} */

/** fixed  */
/* .blue {
    background: blue;
    position: fixed;
    top: 5rem;
    left: 100px;
    opacity: 0.7;
} */

/** sticky  */
/* .aqua {
    background: aqua;
    position: sticky;
    left: 40%;
    top: 0;
    opacity: 0.7;
} */

/*% Z-index*/
/* .div {
  position: absolute;
  height: 100px;
  width: 100px;
  font-weight: 700;
  font-size: 3em;
  text-align: center;
  color: white;
  border: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
} */

/*$ Contesto di sovrapposizione */
/* .div1 {
  background-color: red;
  z-index: 99999;
}
.div2 {
  background-color: orange;
  z-index: 2;
}
.div3 {
  background-color: blue;
  z-index: 1;
} */

/*$ Altro sugli z-index */

/* .genitore {
position: relative;
z-index: 1;
}

.figlio1 {
position: absolute;
z-index: 10;
}

.figlio2 {
position: absolute;
z-index: 20;
} */



/*% Transform */

    /* .div {
        border: 2px solid black;
        position: relative;
        background-color: blue;
        width: 250px;
        height: 150px;
    }
    h2 {
        transform: translate(-50%, -50%);
        position: absolute;
        top: 50%;
        left: 50%;
    } */



